<%- include('partial/_header') -%>
<section class="main">
    <div class="container">
		<div style="display: flex; justify-content: space-between;">
            <h1 style="margin: 0;"><%- title %></h1>
            <span style="min-width: 50px;">pg <%- id %></span>
        </div>
		<hr />
        
		<div class="center-container">
            <div class="note-area">
                <div class="split-side-left">
                    
                    <%- content %>
                    <hr/>
                    <p class="do-not-print">
                        <% if(parseInt(id) > 1) { %>
                            <a href="/notes/<%- subject %>/<%- parseInt(id) - 1 %>" class="noteButton noteButtonBack" style="color: #000000; float: left">❮❮ Previous</a>
                        <% } %>
                        <% if(parseInt(id) < parseInt(page_count)) { %>
                            <a href="/notes/<%- subject %>/<%- parseInt(id) + 1 %>" class="noteButton noteButtonFor" style="color: ivory; float: right;"> Next ❯❯</a>
                        <% } %>
                    </p>
                </div>
                <% if(subject === 'gravity') { %>
                    <%- include('partial/_gravity_outline') -%>
                <% } %>
            </div>
		</div>
    </div>

</section>


<script src="/js/notes_accord.js"></script>
<%- include('partial/_footer') -%>

